#index.jumbotron {
    margin-bottom: 0px;
    background-image: url(https://adventurejunkies-theadventurejunk.netdna-ssl.com/wp-content/uploads/Best-Downhill-Skis-1.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    height: 35em;
}

#cali.jumbotron {
    margin-bottom: 0px;
    background-image: url(http://courses.washington.edu/bimd233/midterm8z99/images/ca_jumbo.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    height: 35em;
}

#cali_icon.jumbotron {
    margin-bottom: 0px;
    background-image: url(http://courses.washington.edu/bimd233/midterm8z99/images/ca_jumbo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
}

#utah.jumbotron {
    margin-bottom: 0px;
    background-image: url(http://courses.washington.edu/bimd233/midterm8z99/images/ut_jumbo.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    height: 35em;
}

#utah_icon.jumbotron {
    margin-bottom: 0px;
    background-image: url(http://courses.washington.edu/bimd233/midterm8z99/images/ut_jumbo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
}

#colorado.jumbotron {
    margin-bottom: 0px;
    background-image: url(http://courses.washington.edu/bimd233/midterm8z99/images/co_jumbo.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    height: 35em;
}

#colorado_icon.jumbotron {
    margin-bottom: 0px;
    background-image: url(http://courses.washington.edu/bimd233/midterm8z99/images/co_jumbo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
}

#heaven.jumbotron {
  margin: 0px;
  background-image: url(http://courses.washington.edu/bimd233/midterm8z99/images/heavenly.jpg);
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
}

#mammoth.jumbotron {
  margin: 0px;
  background-image: url(http://courses.washington.edu/bimd233/midterm8z99/images/mammoth.jpg);
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
}

#squaw.jumbotron {
  margin: 0px;
  background-image: url(http://courses.washington.edu/bimd233/midterm8z99/images/squaw.jpg);
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
}

#alta.jumbotron {
  margin: 0px;
  background-image: url(http://courses.washington.edu/bimd233/midterm8z99/images/alta.jpg);
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
}

#park.jumbotron {
  margin: 0px;
  background-image: url(http://courses.washington.edu/bimd233/midterm8z99/images/parkcity.jpg);
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
}

#bird.jumbotron {
  margin: 0px;
  background-image: url(http://courses.washington.edu/bimd233/midterm8z99/images/snowbird.jpg);
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
}

#aspen.jumbotron {
  margin: 0px;
  background-image: url(http://courses.washington.edu/bimd233/midterm8z99/images/aspen.jpg);
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
}

#beaver.jumbotron {
  margin: 0px;
  background-image: url(http://courses.washington.edu/bimd233/midterm8z99/images/beavercreek.jpg);
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
}

#telluride.jumbotron {
  margin: 0px;
  background-image: url(http://courses.washington.edu/bimd233/midterm8z99/images/telluride.jpg);
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
}

#jumbo_title {
  color: #FFFFFF;
  background-color: rgba(0,0,0,0.3);
}

h2 {
  text-transform: uppercase;
}

.well {
  height: auto;
}


.white_font {
  color: #FFFFFF;
}

.glow_font {
  color: #f4ce42;
  background-color: rgba(0,0,0,0.6)
}

hr {
  border: 1px solid black
}

img.map {
  height: 150px;
}
